.yellow {
    background-color: yellow;
    padding:10px;
}
.white {
    background-color: white;
    padding:10px;
}
.green {
    background-color: green;
    padding:10px;
}

.orange {
    background-color: orange;
    padding:10px;
}


